.sj-section-wrapper {
  background-color: #ebeef0;
}
.sj-section {
  margin: 0 auto 20px;
  max-width: 1036px;

  md-card {
    padding: 8px;
  }

  .sj-section-annotation {
//    background-color: red;
  }

  .sj-section-content {
//    background-color: yellow;
  }
}

@media screen and (min-width: 720px) {
  .sj-section {
    padding-top:20px
  }

  .sj-section+.sj-section {
    border-top: 1px solid #d3dbe2
  }
}

form {
  ._md-datepicker-floating-label > label:not(.md-no-float):not(._md-container-ignore) {
    right: 28px
  }

  ._md-datepicker-floating-label > md-datepicker .md-datepicker-button {
    margin-left: -8px;
  }

  md-input-container label:not(.md-no-float):not(._md-container-ignore), md-input-container ._md-placeholder {
    //padding-left: 6px;
  }

  md-checkbox ._md-container {
    //left: 4px;
  }

}