.sass-cache
.idea/
.tmp/
/node_modules
/client/public/bower_components
#/client/public/assets/images
/client/public/css
/build
/client/files
/server/config/environment/development.js
/server/config/environment/test.js
npm-debug.log