<md-dialog class="search-jobs-dialog search-jobs" flex="50">
    <md-toolbar>
        <div class="md-toolbar-tools" layout-align="end center">
            <md-button class="md-icon-button" ng-click="dialog.close()">
                <md-icon md-font-icon="clear">clear</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content aria-label="Filter dialog" layout-padding>
        <div layout="row" layout-align="start start" layout-padding>
            <div class="cool-box" hide show-gt-sm>
                <md-icon md-font-icon="directions_boat">directions_boat</md-icon>
            </div>
            <div layout="column">
                <div class="md-headline">{{dialog.job.title}}</div>
                <div class="sj-secondary-text md-subhead">
                    <span>{{dialog.job.location.locality}}, {{dialog.job.location.country}}</span>
                </div>
            </div>
        </div>
        <md-divider></md-divider>
        <div class="info" style="padding-bottom: 16px">
            <div ng-if="dialog.job.startDate"><span class="name md-body-2">Start date: </span><span class="value md-body-1">{{dialog.job.startDate | date : 'longDate'}}</span></div>
            <div ng-if="dialog.job.position"><span class="name md-body-2">Position: </span><span class="value md-body-1">{{dialog.job.position}}</span></div>
            <div ng-if="dialog.job.jobType"><span class="name md-body-2">Job type: </span><span class="value md-body-1">{{dialog.job.jobType}}</span></div>
            <div ng-if="dialog.job.flag"><span class="name md-body-2">Flag: </span><span class="value md-body-1">{{dialog.job.flag}}</span></div>
            <div ng-if="dialog.job.length"><span class="name md-body-2">Vessel length: </span><span class="value md-body-1">{{dialog.job.length}} meters</span></div>
            <div ng-if="dialog.job.papers"><span class="name md-body-2">Papers required: </span><span class="value md-body-1">Yes</span></div>
            <div ng-if="dialog.job.smoking"><span class="name md-body-2">Smoking allowed: </span><span class="value md-body-1">Yes</span></div>
            <div ng-if="dialog.job.phone"><span class="name md-body-2">Phone: </span><span class="value md-body-1">{{dialog.job.phone}}</span></div>
            <div ng-if="dialog.job.email"><span class="name md-body-2">Email: </span><span class="value md-body-1">{{dialog.job.email}}</span></div>
        </div>
        <div layout-padding ng-if="dialog.job.description">
            <md-divider></md-divider>
            <div class="description with-newlines md-body-1">{{dialog.job.description}}</div>
        </div>
    </md-dialog-content>
</md-dialog>