<md-content layout="column" class="searchJobs" flex>
    <div class="content">
        <md-card>
            <md-toolbar class="md-table-toolbar md-default">
                <div class="md-toolbar-tools">
                    <div flex></div>
                    <md-button class="md-raised" ng-click="vm.showFilterDialog($event)">
                        <md-icon md-font-icon="filter_list">filter_list</md-icon>
                        <span>Filter</span>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="vm.clearFilter()">
                        <md-icon md-font-icon="clear">clear</md-icon>
                        <md-tooltip md-direction="bottom">Clear filters</md-tooltip>
                    </md-button>
                </div>
            </md-toolbar>
        </md-card>
        <md-card flex
                 class="item-card"
                 ng-repeat="job in vm.jobs"
                 ng-class="{'md-whiteframe-18dp': hover}"
                 ng-mouseenter="hover = true"
                 ng-mouseleave="hover = false"
                 layout-padding>
            <md-card-title>
                <div layout="column">
                    <div class="title" layout="row" layout-align="space-between center">
                        <div flex><h3>{{job.title}}</h3></div>
                    </div>
                    <div class="sj-secondary-text">
                        <span ng-if="vm.proximity">{{vm.distanceFn(job.location.coordinates[1], job.location.coordinates[0]) | number: 1}}{{vm.distanceUnit}} | </span>
                        <span>{{job.location.locality}}, {{job.location.country}}</span>
                    </div>
                </div>
            </md-card-title>
            <md-card-content>
                <div layout-gt-sm="row" layout="column" layout-align-gt-sm="space-between center">
                    <div class="info" flex>
                        <div ng-if="job.position"><span class="name">Position: </span><span class="value">{{job.position}}</span></div>
                        <div ng-if="job.jobType"><span class="name">Job type: </span><span class="value">{{job.jobType}}</span></div>
                        <div ng-if="job.startDate"><span class="name">Start date: </span><span class="value">{{job.startDate | date : 'longDate'}}</span></div>
                    </div>
                    <div class="description" flex>
                        <p>{{job.description | limitTo : 150}}{{job.description.length > 150 ? '...' : ''}}</p>
                    </div>
                </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button">
                    <md-icon md-font-icon="reply">reply</md-icon>
                    <md-tooltip md-direction="bottom">More information</md-tooltip>
                </md-button>
            </md-card-actions>
        </md-card>
        <sj-pagination
            page="vm.tableState.page"
            limit="vm.tableState.limit"
            count="vm.count"
            on-pagination="vm.fetchJobs"></sj-pagination>
    </div>
</md-content>
