<md-content layout="column" class="searchJobs" flex>
    <div class="content">
        <md-card>
            <md-toolbar class="md-table-toolbar md-default">
                <div class="md-toolbar-tools">
                    <div flex></div>
                    <md-button class="md-raised" ng-click="vm.showFilterDialog($event)">
                        <md-icon md-font-icon="filter_list">filter_list</md-icon>
                        <span>Filter</span>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="vm.clearFilter()">
                        <md-icon md-font-icon="clear">clear</md-icon>
                        <md-tooltip md-direction="bottom">Clear filters</md-tooltip>
                    </md-button>
                </div>
            </md-toolbar>
        </md-card>
        <md-card flex
                 class="item-card"
                 ng-repeat="job in vm.jobs"
                 ng-class="{'md-whiteframe-18dp': hover}"
                 ng-mouseenter="hover = true"
                 ng-mouseleave="hover = false"
                 layout-padding>
            <md-card-title>
                <div layout="column">
                    <div class="title">
                        <h3>{{job.title}}</h3>
                    </div>
                    <div class="sj-secondary-text">
                        <span>{{job.position}} - {{job.location.locality}}, {{job.location.country}}</span>
                    </div>
                    <div ng-if="vm.proximity">
                        <div>Distance:
                            <span>{{vm.distanceFn(job.location.coordinates[1], job.location.coordinates[0]) | number: 1}}{{vm.distanceUnit}}</span>
                        </div>
                    </div>
                </div>
            </md-card-title>
            <md-card-content class="md-body-1">
                {{job.description}}
            </md-card-content>
            <md-card-actions>
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
            </md-card-actions>
        </md-card>
        <sj-pagination
            page="vm.tableState.page"
            limit="vm.tableState.limit"
            count="vm.count"
            on-pagination="vm.fetchJobs"></sj-pagination>
    </div>
</md-content>
