.search-jobs {
  .item-card {
    &:hover {
      cursor: pointer;
    }
  }
  .info {
    .name {
      width: 130px;
      display: inline-block;
    }
  }
}

.search-jobs-dialog {
  md-toolbar {
    background: url('/assets/images/dialog-banner-small.jpg');
    background-size: cover;
  }

  .cool-box {
    margin: 10px;
    height: 36px;
    width: 36px;
    text-align: center;
    background: #378d3b;

    md-icon {
      font-size: 36px;
      height: 36px;
      position: relative;
      top: calc(50% - #{(36px * (1/4))});
      color: rgba(255,255,255,.9); //rgba(0,0,0,.80);
    }
  }
}