<md-content class=""flex style="background: #ececec">
    <div layout-gt-xs="row" layout="column" class="sj-account sj-card-grid">
        <div class="sj-account-column" layout="column"  flex>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Email</span>
                        <span class="md-subhead">{{vm.me.email}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-sm" card-media>
                            <md-icon md-font-icon="email">email</md-icon>
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="start center">
                    <md-button ui-sref="email">Change</md-button>
                </md-card-actions>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Password</span>
                        <span class="md-subhead">************</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-sm" card-media>
                            <md-icon md-font-icon="lock">lock</md-icon>
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="start center">
                    <md-button ui-sref="password">Change</md-button>
                </md-card-actions>
            </md-card>
        </div>
        <div class="sj-account-column" layout="column" flex>
            <md-card ng-if="!vm.profile._id">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Crew profile</span>
                        <span class="md-subhead">Do you want to find work?</span>
                        <span class="md-subhead">Complete your profile</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-sm" card-media>
                            <md-icon md-font-icon="rowing">rowing</md-icon>
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="start center">
                    <md-button ui-sref="profileEdit">Create</md-button>
                </md-card-actions>
            </md-card>
            <md-card ng-if="vm.profile._id">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Crew profile</span>
                        <span class="md-subhead">Your profile is <b>{{vm.profile.active ? 'active' : 'deactivated'}}</b></span>
                        <span class="md-subhead" ng-if="vm.timeToCheckIn && vm.profile.active">
                            <span>You can </span><b>check in</b><span> again </span><span am-time-ago="vm.timeToCheckIn"></span>
                        </span>
                        <span class="md-subhead" ng-if="!vm.timeToCheckIn && vm.profile.active">
                            <b>Check in </b>
                            <span> now to be top of the list</span>
                        </span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-sm" card-media>
                            <md-icon md-font-icon="rowing">rowing</md-icon>
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="start center">
                    <md-button ng-click="vm.checkIn()" ng-disabled="vm.checkInButtonDisabled || vm.timeToCheckIn || !vm.profile.active">Check in</md-button>
                    <md-button ng-click="vm.toggleProfile()"
                               ng-disabled="vm.toggleProfileButtonDisabled">{{vm.profile.active ? 'Deactivate' : 'Activate'}}
                    </md-button>
                    <md-button ui-sref="profileEdit">Edit</md-button>
                </md-card-actions>
            </md-card>
            <md-card ng-if="!vm.jobListingCount.total">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">My job listings</span>
                        <span class="md-subhead">Do you need to find crew?</span>
                        <span class="md-subhead">Create a new job listing</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-sm" card-media>
                            <md-icon md-font-icon="list">list</md-icon>
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="start center">
                    <md-button ui-sref="jobEdit({id: 'add'})">Create</md-button>
                </md-card-actions>
            </md-card>
            <md-card ng-if="vm.jobListingCount.total">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">My job listings</span>
                        <span ng-if="vm.jobListingCount.active" class="md-subhead">You have <b>{{vm.jobListingCount.active}}</b> active job listings</span>
                        <span ng-if="vm.jobListingCount.deactivated" class="md-subhead">You have <b>{{vm.jobListingCount.deactivated}}</b> deactivated job listings</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-sm" card-media>
                            <md-icon md-font-icon="list">list</md-icon>
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="start center">
                    <md-button ui-sref="jobEdit({id: 'add'})">Create</md-button>
                    <md-button ui-sref="myJobList">List</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</md-content>
