<md-content>
    <div layout="row">
        <md-card flex-gt-md="60" flex>
            <div layout="column" layout-padding>
                <!-- Rows for each section -->
                <form novalidate name="passwordChangeForm" ng-submit="vm.submit()">
                    <md-input-container class="md-block">
                        <input type="password"
                               name="password"
                               ng-model="vm.me.password"
                               placeholder="Current password"
                               required
                               aria-label="Current password"
                               aria-invalid="false"/>
                        <div ng-messages="passwordChangeForm.password.$error"
                             role="alert"
                             aria-live="assertive"
                             ng-show="(!passwordChangeForm.password.$untouched || passwordChangeForm.$submitted) && passwordChangeForm.password.$error.required">
                            <div ng-message="required"><span>Password field is required</span></div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <input type="password"
                               name="newPassword"
                               ng-model="vm.me.newPassword"
                               placeholder="New password"
                               required
                               aria-label="New password"
                               aria-invalid="false"/>
                        <div ng-messages="passwordChangeForm.newPassword.$error"
                             role="alert"
                             aria-live="assertive"
                             ng-show="(!passwordChangeForm.newPassword.$untouched || passwordChangeForm.$submitted) && passwordChangeForm.newPassword.$error.required">
                            <div ng-message="required"><span>New password field is required</span></div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <input type="password"
                               name="newPasswordConfirm"
                               ng-model="vm.me.newPasswordConfirm"
                               placeholder="New password confirmation"
                               match="vm.me.newPassword"
                               required
                               aria-label="New password confirmation"
                               aria-invalid="false"/>
                        <div ng-messages="passwordChangeForm.newPasswordConfirm.$error"
                             role="alert"
                             aria-live="assertive"
                             ng-show="(!passwordChangeForm.newPasswordConfirm.$untouched || passwordChangeForm.$submitted)
                            && ( passwordChangeForm.newPasswordConfirm.$error.required || passwordChangeForm.newPasswordConfirm.$error.match)">
                            <div ng-message="required"><span>Password confirm field is required</span></div>
                            <div ng-message="match"><span>The passwords do not match</span></div>
                        </div>
                    </md-input-container>
                    <div layout="row" layout-align="end center">
                        <span><a ng-href="/account">cancel</a></span>
                        <md-button class="md-raised md-primary submit"
                                   type="submit"
                                   ng-disabled="passwordChangeForm.$invalid || passwordChangeForm.$pristine || vm.disabledFlag"
                                   aria-label="Change password">Change password</md-button>
                    </div>
                </form>
            </div>
        </md-card>
    </div>
</md-content>