#usermenu {
  padding: 0;

  md-menu.md-open > button {
    background-color: rgba(158, 158, 158, 0.2);
  }

  .usermenu-button {
    text-transform: none;
    padding: 0;
    margin: 0;
    min-width: 38px;

    @media (max-width: 400px) {
      height: 55px;
    }

    @media (min-width: 401px) and (max-width: 959px) {
      height: 50px;
    }

    @media (min-width: 960px) {
      height: 64px;
    }

    .person {
      margin-left: 6px;
      padding-left: 8px;
      margin-right: 0;
    }

    .drop-down {
      margin-left: 0;
      margin-right: 6px;
      padding-right: 8px;
    }

    .username {
      margin: 0 12px 0 8px;
      text-transform: none;
    }
  }
}

#usermenu-dropdown {

  .fade-to-white:before {
    content:'';
    width:50px;
    height:100%;
    position:absolute;
    right:0;
    top:0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2), white);
  }
}