//md-sidenav > md-toolbar {
//  height:64px;
//}

.sj-profile-bg {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('/images/assets/yacht-bg.jpg');
  background-repeat: no-repeat;
  height: 150px !important;
  min-height: 150px !important;
}

.site-sidenav {
  md-content {
    background-color: rgba(250,250,250, 1);
  }

  .sidebar-bg {
    height: 160px;
    background: url('/assets/images/yacht_sunset_small.jpg');
    background-size: cover;
  }
  //.sj-sidenav-header {
  //  height: 140px;
  //  background: rgb(0, 171, 192);
  //}

  md-list {
    margin-bottom: 30px;
  }
}

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
  max-width: 300px;
}