.sj-auth {
//  padding-top: 80px;
  background-color: #1b9aff;
  background-image: url("/images/assets/background-login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;


  .sj-whiteframe-wrap {
    width: 480px;
    margin-top: 16px;

    md-content {
      border-radius: 4px;
    }

    @media screen and (max-width: 760px) {
      width: 90%;
    }
  }

  .sj-social-login-btn {
    width: 150px;
  }

  h1.title {
    font-size: 3em;
    font-weight: 100;
  }

  h2.title {
    font-weight: 100;
    font-size: 2em;
  }

  .content {
    max-width: 620px;
  }


  @media screen and (max-width: 760px) {
//    padding-top: 30px;
  }
}