<md-content>
    <md-card>
        <div layout="column">
            <md-toolbar class="md-table-toolbar md-default">
                <div class="md-toolbar-tools">
                    <div flex></div>
                    <md-button class="md-icon-button md-raised md-primary" ng-click="vm.addJob()">
                        <md-icon md-font-icon="add">add</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-table-container>
                <table md-table>
                    <thead md-head md-order="vm.tableState.order" md-on-reorder="vm.fetch">
                    <tr md-row>
                        <th md-column md-order-by="active" md-desc>Active</th>
                        <th md-column md-order-by="startDate" md-desc>Starting date</th>
                        <th md-column>Name</th>
                        <th md-column>Location</th>
                        <th md-column>Position</th>
                        <th md-column>Actions</th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="job in vm.jobs">
                        <td md-cell style="width: 40px" cg-busy="vm.promise">
                            <md-switch ng-model="job.active"
                                       aria-label="Job listing active"
                                       ng-disabled="vm.switchIsDisabled[$index]"
                                       ng-change="vm.activeChange(job, $index)"></md-switch>
                        </td>
                        <td md-cell style="width: 100px;">{{job.startDate | date}}</td>
                        <td md-cell style="min-width: 200px">{{job.title}}</td>
                        <td md-cell style="min-width: 200px">{{job.location.name}}</td>
                        <td md-cell style="min-width: 100px">{{job.position}}</td>
                        <td md-cell style="width: 100px">
                            <div layout="row">
                                <md-button class="md-icon-button" ng-click="vm.edit(job._id)">
                                    <md-icon md-font-icon="mode_edit">mode_edit</md-icon>
                                </md-button>
                                <md-button class="md-icon-button" ng-click="vm.remove(job._id, $event)">
                                    <md-icon md-font-icon="delete">delete</md-icon>
                                </md-button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination md-limit="vm.tableState.limit"
                                 md-limit-options="[10, 20, 30]"
                                 md-page="vm.tableState.page"
                                 md-total="{{vm.count}}"
                                 md-on-paginate="vm.fetch"
                                 md-page-select></md-table-pagination>
        </div>
    </md-card>
</md-content>