form {
  ._md-datepicker-floating-label > label:not(.md-no-float):not(._md-container-ignore) {
    right: 28px
  }
  ._md-datepicker-floating-label > md-datepicker .md-datepicker-button {
    margin-left: -8px;
  }
  md-input-container label:not(.md-no-float):not(._md-container-ignore), md-input-container ._md-placeholder {
    //padding-left: 6px;
  }
  md-checkbox ._md-container {
    //left: 4px;
  }
}

table.md-table th.md-column md-icon {
  min-height: 16px;
  min-wdith: 16px;
}