sj-collapse-section {
  position: relative;
  display: block;
  overflow: hidden;
  border-top-width: 1px;
  border-top-style: solid;
  margin: 0;
  border-top-color: rgba(0,0,0,0.12);

  .md-subheader {
    z-index: 2
  }

  .ht {
    z-index: 1;
    background: rgb(250,250,250);
  }
}