sj-collapse-section {
  position: relative;
  display: block;
  overflow: hidden;
  border-top-width: 1px;
  border-top-style: solid;
  margin: 0;
  border-top-color: rgba(0,0,0,0.12);

  // Angular material sidenav is z-index 60 and open backdrop is z-index 59
  .md-subheader {
    z-index: 62
  }

  .ht {
    z-index: 61;
    background: rgb(250,250,250);
  }
}