<div layout="column" layout-align="center center" class="login sj-color-white">
    <h2 class="title sj-text-center">It's simple and free!</h2>
    <h3 class="content sj-text-center">For employers, sign up now to find professional and highly trained yacht crew, staff for your marine related business, or marina. For job seekers, get found here, if you are looking to advance your career.</h3>
    <h1 class="title sj-text-center">Simple Yacht Jobs</h1>
    <div class="sj-whiteframe-wrap">
        <div class="md-whiteframe-z1">
            <md-content flex layout-padding>
                <h4 class="sj-text-center">Register using social accounts</h4>
                <social-login>
                    <div layout layout-align="space-around center">
                        <md-button class="sj-social-login-btn md-raised md-primary" aria-label="Facebook" style="background-color:#3b5998">
                            <md-icon md-svg-icon="facebook"></md-icon>
                            <span hide-xs>Facebook</span>
                        </md-button>
                        <md-button class="sj-social-login-btn md-raised md-primary" aria-label="Google" style="background-color:#dd4b39">
                            <md-icon md-svg-icon="google"></md-icon>
                            <span hide-xs>Google</span>
                        </md-button>
                    </div>
                </social-login>
                <h4 class=" sj-text-center">or via email</h4>
                <form name="loginForm" novalidate ng-submit="vm.submit()">
                    <md-input-container class="md-block">
                        <input type="email"
                               name="email"
                               ng-model="vm.form.email"
                               placeholder="Email"
                               ng-pattern=/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-z0-9-]+)*(\.[a-zA-Z]{2,4})$/
                               required
                               aria-label="Email"
                               aria-invalid="false"/>
                        <div ng-messages="loginForm.email.$error"
                             role="alert"
                             aria-live="assertive"
                             ng-show="(!loginForm.email.$untouched || loginForm.$submitted)
                              && (loginForm.email.$error.email || loginForm.email.$error.required)">
                            <div ng-message="required"><span>Email field is required</span></div>
                            <div ng-message="pattern"><span>Email must be a valid e-mail address</span></div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <input type="password"
                               name="password"
                               ng-model="vm.form.password"
                               placeholder="Password"
                               required
                               aria-label="Password"
                               aria-invalid="false"/>
                        <div ng-messages="loginForm.password.$error"
                             role="alert"
                             aria-live="assertive"
                             ng-show="(!loginForm.password.$untouched || loginForm.$submitted) && loginForm.password.$error.required">
                            <div ng-message="required"><span>Password field is required</span></div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <input type="password"
                               name="passwordConfirm"
                               ng-model="vm.form.passwordConfirm"
                               placeholder="Password confirm"
                               required
                               match="vm.form.password"
                               aria-label="Password confirm"
                               aria-invalid="false"/>
                        <div ng-messages="loginForm.passwordConfirm.$error"
                             role="alert"
                             aria-live="assertive"
                             ng-show="(!loginForm.passwordConfirm.$untouched || loginForm.$submitted)
                            && (loginForm.passwordConfirm.$error.required || loginForm.passwordConfirm.$error.match)">
                            <div ng-message="required"><span>Password confirm field is required</span></div>
                            <div ng-message="match"><span>The passwords do not match</span></div>
                        </div>
                    </md-input-container>

                    <div class="terms" layout="row" layout-align="center start">
                        <md-checkbox name="terms"
                                     ng-model="vm.form.terms"
                                     aria-label="I read and accept"
                                     required
                                     role="checkbox"
                                     aria-required="true"
                                     aria-checked="false"></md-checkbox>
                        <div>I read and accept&nbsp;<a href="#" class="md-accent-color">the terms and conditions</a></div>
                    </div>
                    <div layout="row" layout-align="center center">
                        <md-button class="md-raised md-primary submit"
                                   type="submit"
                                   ng-disabled="loginForm.$invalid || loginForm.$pristine"
                                   disabled="disabled"
                                   aria-label="Log IN">Create account</md-button>
                    </div>
                </form>
            </md-content>
        </div>
    </div>
    <div class="sj-space-16"></div>
    <a class="md-raised md-primary md-button" ui-sref="login">Back to login</a>
</div>