.admin {
  .md-table {
    td.active {
      text-align: center;
    }
    td.cell-nowrap {
      white-space: nowrap;
    }
    //td.name {
    //  width: 100%;
    //}
  }

  fieldset {
    border: 1px solid rgba(0,0,0,0.38);
    height: 100%;
  }

  legend, md-checkbox {
    color: rgba(0,0,0,0.38);
  }
}

// Chrome bug fix
md-input-container.md-input-has-value input.md-input {
  color: inherit;
}